<div class="section"></div>
<main style="padding: 0 50px 0 50px">
    <div class="row">
        <div class="col s3 m3 l3">
            <a class='dropdown-button btn green' data-activates='dropdown1'>
                <span>Person auswählen</span>
            </a>
            <ul id='dropdown1' class='dropdown-content'>
                <li><a ng-click="newPerson()">Neue Person hinzufügen</a></li>
                <li class="divider"></li>
                <li ng-repeat="person in data.persons">
                    <a ng-click="changePerson(person.id)">
                        {{ person.firstname + ' ' + person.lastname }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="col s4 m4 l4" ng-show="!isEmpty(data.selectedPerson)">
            <div class="card horizontal">
                <div class="card-image">
                    <img ng-src="{{ data.selectedPerson.portrait.url }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title" style="line-height: 0">
                            <span ng-show="!editMode">{{ data.selectedPerson.firstname + ' ' + data.selectedPerson.lastname }}</span>
                            <span ng-show="editMode">
                                <label for="firstname">Vorname:</label>
                                <input type="text" id="firstname" ng-model="data.selectedPerson.firstname" ng-class="{'invalid': !data.selectedPerson.firstname && isTouched}">
                                <label for="lastname">Nachname:</label>
                                <input type="text" id="lastname" ng-model="data.selectedPerson.lastname" ng-class="{'invalid': !data.selectedPerson.lastname && isTouched}">
                            </span>
                        </span>
                        <p ng-show="!editMode">"{{ data.selectedPerson.caption }}"</p>
                        <p ng-show="!editMode">{{ data.selectedPerson.portrait.caption }}</p>
                        <p style="margin-bottom: 10px" ng-show="!editMode">
                            <a ng-href="{{data.selectedPerson.portrait.source}}" target="_blank">Quelle</a>
                        </p>
                        <div ng-show="editMode">
                            <label for="caption">Person-Caption:</label>
                            <input type="text" id="caption" ng-model="data.selectedPerson.caption" ng-class="{'invalid': !data.selectedPerson.caption && isTouched}">
                        </div>
                        <div ng-show="editMode">
                            <label for="portraitCaption">Portrait-Caption:</label>
                            <input type="text" id="portraitCaption" ng-model="data.selectedPerson.portrait.caption" ng-class="{'invalid': !data.selectedPerson.portrait.caption && isTouched}">
                        </div>
                        <div ng-show="editMode">
                            <label for="source">Portrait-Quelle:</label>
                            <input type="text" id="source" ng-model="data.selectedPerson.portrait.source" ng-class="{'invalid': !data.selectedPerson.portrait.source && isTouched}">
                        </div>
                        <div ng-show="editMode">
                            <label for="image-src">Bild-URL:</label>
                            <input type="text" id="image-src" ng-model="data.selectedPerson.portrait.url" ng-class="{'invalid': !data.selectedPerson.portrait.url && isTouched}">
                        </div>
                        <div ng-show="editMode">
                            <input type="text" id="portrait-width" ng-model="data.selectedPerson.portrait.width" style="width: 80px" ng-class="{'invalid': !isValidNumber(data.selectedPerson.portrait.width) && isTouched}">
                            x
                            <input type="text" id="portrait-height" ng-model="data.selectedPerson.portrait.height" style="width: 80px" ng-class="{'invalid': !isValidNumber(data.selectedPerson.portrait.height) && isTouched}">
                        </div>
                        <div class="chip" ng-repeat="chip in data.selectedPerson.chips" ng-show="!editMode">
                            {{ chip.text }}
                        </div>
                        <div class="chip" ng-repeat="chip in data.selectedPerson.chips" ng-show="editMode">
                            {{ chip.text }}
                            <i class="close material-icons" ng-click="removeChip(chip)">close</i>
                        </div>
                        <div ng-show="editMode">
                            <label for="addchip">Neuer Chip:</label>
                            <input type="text" id="addchip" ng-model="data.newChip" ng-class="{'invalid': !data.selectedPerson.chips.length && isTouched}">
                            <button class="btn" ng-click="addChip()">hinzufügen</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s3 m3 l3" ng-show="!isEmpty(data.selectedPerson)">
            <button class="btn-floating btn-large waves-effect waves-light blue" ng-click="toggleEditMode()"><i
                    class="material-icons">edit</i>
            </button>
            <a class="btn-floating btn-large waves-effect waves-light red" href="#confirmPersonDelete"><i class="material-icons">delete</i>
            </a>
            <a class="waves-effect waves-light btn-large green" ng-click="save()">Änderungen speichern</a>
        </div>

    </div>
    <div ng-show="!isEmpty(data.selectedPerson) && (data.selectedPerson.dataTiles.length || editMode)">
        <h4>DataTiles</h4>
        <center>
            <table class="bordered">
                <thead>
                <tr>
                    <th>Button-Beschriftung</th>
                    <th>Kurzbeschreibung</th>
                    <th>Langer Text</th>
                    <th ng-show="editMode">Aktionen</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="tile in data.selectedPerson.dataTiles">
                    <td ng-show="!editMode">{{ tile.button_text }}</td>
                    <td ng-show="!editMode">{{ tile.short_text }}</td>
                    <td ng-show="!editMode">{{ tile.long_text }}</td>
                    <td ng-show="editMode"><input type="text" ng-model="tile.button_text"></td>
                    <td ng-show="editMode"><input type="text" ng-model="tile.short_text"></td>
                    <td ng-show="editMode"><input type="text" ng-model="tile.long_text"></td>
                    <td ng-show="editMode">
                        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="removeDataTile(tile)"><i
                                class="material-icons">delete</i></a>
                    </td>
                </tr>
                <tr ng-show="editMode">
                    <td><a class="btn-floating btn-large waves-effect waves-light green" ng-click="newDataTile()"><i
                            class="material-icons">add</i></a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </center>
    </div>
    <div ng-show="!isEmpty(data.selectedPerson) && (data.selectedPerson.imageTiles.length || editMode)">
        <h4 ng-class="{'invalid': !data.selectedPerson.imageTiles.length && isTouched}">ImageTiles</h4>
        <center>
            <table class="bordered">
                <thead>
                <tr>
                    <th>Bild-Vorschau</th>
                    <th>Überschrift</th>
                    <th>Quelle</th>
                    <th>Breite / Höhe</th>
                    <th ng-show="editMode">Aktionen</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="tile in data.selectedPerson.imageTiles">
                    <td ng-show="!editMode"><img ng-src="{{tile.url}}" style="max-width: 500px"></td>
                    <td ng-show="!editMode">{{ tile.caption }}</td>
                    <td ng-show="!editMode">{{ tile.source }}</td>
                    <td ng-show="!editMode">{{ tile.width + 'x' + tile.height }}</td>
                    <td ng-show="editMode"><input type="text" ng-model="tile.url"></td>
                    <td ng-show="editMode"><input type="text" ng-model="tile.caption"></td>
                    <td ng-show="editMode"><input type="text" ng-model="tile.source"></td>
                    <td ng-show="editMode">
                        <input type="text" ng-model="tile.width" style="width: 100px">
                        <span>x</span>
                        <input type="text" ng-model="tile.height" style="width: 100px">
                    </td>
                    <td ng-show="editMode">
                        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="removeImageTile(tile)"><i
                                class="material-icons">delete</i></a>
                    </td>
                </tr>
                <tr ng-show="editMode">
                    <td><a class="btn-floating btn-large waves-effect waves-light green" ng-click="newImageTile()"><i
                            class="material-icons">add</i></a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </center>
    </div>
    <div id="confirmPersonDelete" class="modal">
        <div class="modal-content">
            <h4>Achtung</h4>
            <p>Möchten Sie diese Person wirklich löschen? Diese Aktion kann nicht rückgängig gemacht werden.</p>
        </div>
        <div class="modal-footer">
            <a ng-click="deletePerson()" class="modal-action modal-close waves-effect waves-green btn-flat">Ja</a>
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Nein</a>
        </div>
    </div>
</main>
