<div class="section"></div>
<main style="padding: 0 50px 0 50px">
    <div class="row">
        <div class="col s3 m3 l3">
            <a class='dropdown-button btn green' data-activates='dropdown1'>
                <span ng-show="data.selectedPerson.id">{{ data.selectedPerson.vorname + ' ' + data.selectedPerson.nachname }}</span>
                <span ng-show="!data.selectedPerson.id">Person auswählen</span>
            </a>
            <ul id='dropdown1' class='dropdown-content'>
                <li><a>Person auswählen</a></li>
                <li class="divider"></li>
                <li ng-repeat="person in data.persons">
                    <a ng-click="changePerson(person.id)">
                        {{ person.vorname + ' ' + person.nachname }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="col s4 m4 l4" ng-show="data.selectedPerson.id">
            <div class="card horizontal">
                <div class="card-image">
                    <img ng-src="{{ data.selectedPerson.portrait.url.substring(4, data.selectedPerson.portrait.url.length - 1) }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title">{{ data.selectedPerson.vorname + ' ' + data.selectedPerson.nachname }}</span>
                        <p style="margin-bottom: 10px">{{ data.selectedPerson.caption }}</p>
                        <div class="chip" ng-repeat="chip in data.selectedPerson.chips">
                            {{ chip.text }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s3 m3 l3" ng-show="data.selectedPerson.id">
            <button class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></button>
        </div>

    </div>
    <center>

        <table class="bordered" ng-show="data.selectedPerson.id">
            <thead>
            <tr>
                <th>Typ</th>
                <th>Caption / Payload</th>
                <th>Bild</th>
                <th>Aktionen</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="slide in data.selectedPerson.slides">
                <td>{{ slide.type }}</td>
                <td>{{ slide.type === "DataTile" ? slide.payload : slide.caption }}</td>
                <td><span ng-show="slide.type === 'ImageTile'"><img ng-src="{{ slide.src.url.substring(4, data.selectedPerson.portrait.url.length - 1) }}"></span></td>
                <td>
                    <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">edit</i></a>
                    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
                </td>
            </tr>
            <tr>
                <td><a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </center>
</main>